In [2]:
# Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

import pandas as pd
import numpy as np

exam_data  = {'name': ['Rizul', 'Ritik', 'Udey', 'Doli', 'Namrata', 'Bobby', 'Rajni', 'Vinod', 'YUgam', 'Mighty'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 20],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [3]:
# Write a Pandas program to get the first 3 rows of a given DataFrame.

import pandas as pd
import numpy as np

exam_data  = {'name': ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [12.7, 6, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
    name  score  attempts qualify
a  Rijul   12.7         1     yes
b   Udey    6.0         3      no
c  Ritik   16.5         2     yes

In [4]:
# Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

import pandas as pd
import numpy as np

exam_data  = {'name': ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [12.7, 7, 4.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
       name  score
a     Rijul   12.7
b      Udey    7.0
c     Ritik    4.5
d     Rajni    NaN
e     Vinod    9.0
f     Yugam   20.0
g     Seema   14.5
h    Anjali    NaN
i    Mighty    8.0
j  Yanshika   19.0

In [5]:
# Write a Pandas program to select the specified columns and rows from a given DataFrame.

import pandas as pd
import numpy as np

exam_data  = {'name': ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [6]:
# Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

import pandas as pd
import numpy as np

exam_data  = {'name': ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [11.34, 5, 18.5, np.nan, 8, 210, 14, np.nan, 8, 19],
        'attempts' : [1, 4, 3, 8, 9, 0, 1, 2, 2, 8],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])

Number of attempts in the examination is greater than 2:
       name  score  attempts qualify
b      Udey    5.0         4      no
c     Ritik   18.5         3     yes
d     Rajni    NaN         8      no
e     Vinod    8.0         9      no
j  Yanshika   19.0         8     yes

In [7]:
# Write a Pandas program to count the number of rows and columns of a DataFrame.

import pandas as pd
import numpy as np
exam_data  = {'name': ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [11.34, 5, 18.5, np.nan, 8, 210, 14, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 10
Number of Columns: 4

In [8]:
# Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

import pandas as pd
import numpy as np
exam_data  = {'name':  ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [11.34, 5, 18.5, np.nan, 8, 210, 14, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
     name  score  attempts qualify
d   Rajni    NaN         3      no
h  Anjali    NaN         1      no

In [9]:
# Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

import pandas as pd
import numpy as np
exam_data  = {'name':  ['Rijul', 'Udey', 'Ritik', 'Rajni', 'Vinod', 'Yugam', 'Seema', 'Anjali', 'Mighty', 'Yanshika'],
        'score': [11.34, 5, 18.5, np.nan, 8, 210, 14, np.nan, 8, 19], 
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
       name  score  attempts qualify
c     Ritik   18.5         2     yes
j  Yanshika   19.0         1     yes

In [10]:
# Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes