# DataFrames

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#With numpy
df = pd.DataFrame(np.random.randn(5,4),index=["A","B","C","D","E"],columns=["W","X", "Y","Z"])
df

In [ ]:
#With Lists
x1=["John",24,"New Delhi","India"]
x2=["Jerry",32,"New York","USA"]
x3=["Tom",34,"Manhattan","USA"]
x4=["Jack",45,"Chicago","USA"]
New=pd.DataFrame([x1,x2,x3,x4],columns=["Name","Age","City","Country"],index=["A","B","C","D"])
New

In [ ]:
#With Tuples
x1=("John",24,"New Delhi","India")
x2=("Jerry",32,"New York","USA")
x3=("Tom",34,"Manhattan","USA")
x4=("Jack",45,"Chicago","USA")
New1=pd.DataFrame([x1,x2,x3,x4],columns=["Name","Age","City","Country"],index=["A","B","C","D"])
New1

In [ ]:
#With Dictionaries
datas={"Name":["Karan","Raman","Shravan","Ajay","Vijay","Sanjay"],"Age":[23,24,25,26,25,21],"Location":["Banglore","Chandigarh","Chennai","Mumbai","Kolkata","Pune"],"Salary":[22900,25800,24000,23000,25000,25500]}
datas
datas=pd.DataFrame(datas)
datas

In [ ]:
np.arange(18).reshape(3,6)
df

In [ ]:
np.arange(0,20).reshape(5,4)

In [ ]:
x=np.arange(0,20)
fd=x.reshape(5,4)
fd
fd=pd.DataFrame(fd,index=["A","B","C","D","E"],columns=["W","X","Y","Z"])
fd

In [ ]:
fd
datas

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [ ]:
fd["W"]
datas["Location"]

In [ ]:
fd.shape #Will give you no. of rows and no. of columns
datas.columns # Will give you the column names.
datas

In [ ]:
# Pass a list of column names
fd[["X","W","Z"]]
datas[["Salary","Age"]]

In [ ]:
fd

In [ ]:
#Renaming Columns
fd.rename(columns = {"Z":"shape"},inplace=True) 
#fd.rename(index = {"A":"Alpha"},inplace=True)

#fd.rename(columns={"shape":"Z","W":"WON"},index={"Alpha":"A","D":"Delhi"},inplace=True)
fd

In [ ]:
#fd["W"]
#fd.W
#fd.rename(columns={"W":"shape"},inplace=True)

In [ ]:
fd["shape"]
fd.shape
fd["shape"]
fd.X
#fd.rename(columns={"shape":"W"},inplace=True)
fd

In [ ]:
# SQL Syntax (NOT RECOMMENDED!)
#fd.rename(columns={"shape":"Z","mean":"X"},inplace=True)
#fd["shape"]
fd
#Exercise. Rename any two column with mean and median and try to call the data with column names by using SQL Syntax.

In [ ]:
fd["New"]=fd["X"]+fd["Z"]
fd["City"]=["Delhi","Mumbai","Chennai","Kolkata","Goa"]
fd

In [ ]:
fd["New2"]=(fd["X"]*fd["Y"])/fd["Z"]
fd
fd["Name"]=["Karan","Suraj","Raman","Joseph","Jerry"]
fd

#fd.drop(columns="Name",index="C",inplace=True)
fd

In [ ]:
#Deleting the columns

#fd.drop(columns=["City","Name"],index=["A","E"])

fd.drop(["A","E"],axis=0)

DataFrame Columns are just Series

**Creating a new column:**

In [ ]:
fd

In [ ]:
#Dropping the row
fd.drop(index=["A","C","E"],columns=["New2","W","X"])

In [ ]:
fd
df

** Removing Columns**

In [ ]:
#Dropping the Column
df.drop(["W","Y"],axis=1)#axis-1 means column wise
df.drop(["A","E","C"],axis=0)#axis=0 means row wise

In [ ]:
# Not inplace unless specified!
fd.drop(index=["A","B"],columns=["W","X"])

In [ ]:
df.drop('Z',axis=1)

In [ ]:
fd

Can also drop rows this way:

In [ ]:
#df.drop('E',axis=0)

In [ ]:
fd=np.arange(0,20).reshape(5,4)
fd=pd.DataFrame(fd,columns=["W","X","Y","Z"],index=["A","B","C","D","E"])
fd["New"]=fd["Y"]*fd["Z"]
fd["New2"]=["Hi","Hello","Good","Star","Plus"]
fd.drop(columns="New2",inplace=True)
fd

# Loc and iLoc

** Selecting Rows**

In [ ]:
fd

#LOC executes on the column's name
#iloc executies on the column's index position number

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
car=pd.read_csv("C:/Users/admin/Desktop/Data/car_sales.csv")
car

In [ ]:
car=pd.read_csv("C:\\Users\\admin\\Desktop\\Data\\Car_sales.csv")
car.shape
#car.columns # For displaying the columns names
#car=car.iloc[:,:15]
car

In [ ]:
car=pd.read_csv("C:\\Users\\admin\\Desktop\\Data\\Car_sales.csv")

In [ ]:
car
#Dropping the columns
#car.drop(columns=['Unnamed: 15', 'XX'])
#car.drop(['Unnamed: 15', 'XX'],axis=1)

#car.shape
#car=car.iloc[:,:15]
#car=car.loc[:,['Manufacturer', 'Model', 'Sales in thousands', 'x_4_year','Vehicle type', 'Price in thousands', 'Engine size', 'Horsepower','Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity','Fuel efficiency', 'Latest Launch']]
car

In [ ]:

#fd.loc[:,3]
#fd.iloc[:,3]
fd

In [ ]:
fd
#loc
fd.loc[:,"W"]
fd.loc[:,["X","Z","Y"]]
fd.loc[["A"],:]
fd.loc[["A","C","E"],:]
fd.loc[["A","C","E"],["X","Z","W"]]
#iloc
fd.iloc[:,0]
fd.iloc[:,[1,3,2]]
fd.iloc[0,:]
fd.iloc[[0,2,4],:]
fd.iloc[[0,2,4],[1,3,0]]
fd

In [ ]:
car.head()

In [ ]:
car.iloc[4,:5]
car.iloc[[4,5,6,7,8,10,20],:7]
car.loc[[4,5,6,7,8,10,20,30,50],["Manufacturer","Sales in thousands","Engine size"]]

In [ ]:
#      7,0,16,13,19
fd.loc["B","Z"]
fd.iloc[1,3]
fd.loc["E","W"]
fd.iloc[4,0]

In [ ]:
#7
fd.iloc[1,3]
fd.loc["B","Z"]
#0
fd.iloc[0,0]
fd.loc["A","W"]
#16
fd.iloc[4,0]
fd.loc["E","W"]
#35
fd.iloc[1,5]
fd.loc["B","New2"]
#9
fd.iloc[2,1]
fd.loc["C","X"]
#323
fd.iloc[4,5]
fd.loc["E","New2"]

Or select based off of position instead of label

In [ ]:
print(fd)
fd.iloc[2,2]
#fd.loc["C","W"]

In [ ]:
fd.loc[['A','B',"E"],['W','Y',"Z"]]
#fd.iloc[0,1]
#fd

In [ ]:
#To get the data for a single ROW or COLUMN, can include [].
car.iloc[[2],:5]#For a single ROW
car.iloc[:10,[2]]#For a single COLUMN

#Exercise try to execute the same code with loc.

In [ ]:
fd.loc[:,"W":"Y"]
#fd.iloc[:,:3]

In [ ]:
fd.iloc[[0,2,1],:]

In [ ]:
fd.iloc[[0,2,4],[1,2,0]]
fd.loc[["A","C","E"],["X","Y"]]
fd

In [ ]:
fd.iloc[0:2,:]#Row= 0 through 2, all columns
fd.iloc[0:-2, :]

In [ ]:
fd.loc["A":"C",:]#Row = A through C, all Columns

In [ ]:
fd.loc[:,"X"]#All Rows and X Columns

## Working on UFO Data with loc and iloc

In [1]:
import pandas as pd
import numpy as np
ufo=pd.read_csv("C:/Users/admin/Desktop/Data/Ufo.csv")
ufo.shape

(18241, 6)

In [ ]:
ufo=ufo.iloc[:,1:]
ufo

In [ ]:
#ufo.drop("Unnamed: 0",axis=1,inplace=True)
#ufo.drop(columns="Unnamed: 0")
ufo

In [ ]:
ufo["City"].value_counts()
#ufo["Shape Reported"].value_counts().nlargest(10)
#nlargest and nsmallest

In [ ]:
ufo[ufo["City"]=="Phoenix"]

In [ ]:
ufo[ufo["City"]=="Seattle"]
#ufo[ufo["City"]=="Lextington"]

In [ ]:
ufo[ufo["City"]=="Seattle"]
ufo[ufo["State"]=="MI"]
ufo[ufo["Shape Reported"]=="TRIANGLE"]
ufo[ufo["State"]=="TX"]
ufo[ufo["Colors Reported"]=="RED"]

In [ ]:
ufo.head()
car.head(20)

ufo.tail(10)
car.tail()
#Seattle, San Diego, Miami, Albuquerque, Springfield, Tucson, Colorado Springs, Jacksonville

In [ ]:
ufo.loc[ufo["City"]=="Los Angeles",:]

In [ ]:
ufo.loc[ufo["City"]=="Ithaca",["City","State","Shape Reported"]]

In [ ]:
ufo.loc[ufo["City"]=="Holyoke",["City","State","Time"]]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
#print(df)
fd

In [ ]:
fd[fd<=10]

In [ ]:
#df[df>0]
fd[fd>=2]

In [ ]:
ufo[ufo["Shape Reported"]=="DISK"].head()
#ufo[ufo["Shape Reported"]=="DISK"]
fd

In [ ]:

fd[fd["W"]>0]
#fd[fd["W"]>10]
#fd[fd["Z"]>10]

In [ ]:
X

In [ ]:
print(fd)
fd[fd["W"]>4]
fd[fd["Z"]<11]
fd[fd["X"]>5]#Column
fd[fd["W"]>8]

In [ ]:
print(fd)
fd[fd["Z"]>=11]
fd[fd["W"]==8]

In [ ]:
fd[fd["Z"]>0]

In [ ]:
df[df["Y"]>0]

In [ ]:
ufo[ufo["City"]=="Las Vegas"][["Shape Reported","Colors Reported"]]
ufo[(ufo["City"]=="Las Vegas") & (ufo["Shape Reported"]=="LIGHT") & (ufo["Colors Reported"]=="BLUE")]

ufo[(ufo["City"]=="Houston") & (ufo["Shape Reported"]=="DIAMOND")]

In [ ]:
ufo.head()
ufo[(ufo["City"]=="Seattle") & (ufo["Shape Reported"]=="TRIANGLE") & (ufo["Colors Reported"]=="ORANGE")]

#ufo[(condition1) & (condition2)]

In [ ]:
x=ufo[ufo["City"]=="Seattle"]
y=x[x["Shape Reported"]=="TRIANGLE"]
y[y["Colors Reported"]=="ORANGE"]

In [ ]:
ufo[ufo["City"]=="New York City"]["Colors Reported"].value_counts()
#ufo["City"].value_counts()

#Select New York City which has RED color.
ufo[(ufo["City"]=="New York City") & (ufo["Colors Reported"]=="RED") & (ufo["Shape Reported"]=="TRIANGLE")]

#Exercise
#City name: Houston, Colors Reported: Green, Shape Reported: FIREBALL, not need state and time column.

ufo[(ufo["City"]=="Houston") & (ufo["Colors Reported"]=="GREEN") &(ufo["Shape Reported"]=="FIREBALL")].drop(["State","Time"],axis=1)

For two conditions you can use | and & with parenthesis:

In [ ]:
#ufo[(ufo["City"]=="Ithaca") & (ufo["Colors Reported"]=="Red") & (ufo["Shape Reported"]=="OTHER") & (ufo["State"]=="NY")]
ufo[(ufo["City"]=="Seattle") & (ufo["Shape Reported"]=="CIRCLE") & (ufo["Colors Reported"]=="GREEN")]

In [ ]:
#ufo[(ufo["City"]=="Los Angeles") & (ufo["Shape Reported"]=="DISK")]
ufo.loc[(ufo["City"]=="Los Angeles") & (ufo["Shape Reported"]=="DISK"),:]

In [ ]:
ufo[(ufo["City"]=="New York City") & (ufo["Shape Reported"]=="TEARDROP")]
ufo

In [ ]:
#Can you print the first 5 observations with Colum name as 1,2,3,4,5 with only the below command
a=pd.DataFrame(ufo.tail(10).values,columns=[1,2,3,4,5])
a


## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
x=fd.copy()
z=x.reset_index().drop("index",axis=1)
z

In [ ]:
z.iloc[[0,2,4],[0,2]].reset_index().drop("index",axis=1)

In [ ]:
# Can restore the index names with rename function
z.rename({0:"A",1:"B",2:"C",3:"D",4:"E"},inplace=True)

In [ ]:
z

In [ ]:
#x=x.reset_index().drop(columns="index")
#x=x.iloc[[0,1,2,4],:]
#x=x.reset_index().drop(columns="index")
x

In [ ]:
fd=fd.iloc[:,1:]
fd

In [ ]:
# Reset to default 0,1...n index
#df.reset_index()
fd.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()
newind

In [ ]:
fd['States'] = newind

In [ ]:
fd

In [ ]:
#fd=fd.set_index('States')
fd.loc[["CA","WY","OR"],:]

In [ ]:
fd

In [ ]:
ufo.head()

# Changing the Columns

In [ ]:
ufo.rename(columns={"City":"CITY_CITY"})
#ufo.rename(columns={"Shape Reported":"SR"},inplace=True)

In [ ]:
a=pd.DataFrame(ufo.head().values,columns=[1,2,3,4,5])
a



13
10
14
15

# Discovering and Deleting Duplicate Values

subset: Subset takes a column or list of column label. It’s default value is none. After passing columns, it will consider them only for duplicates.
keep: keep is to control how to consider duplicate value. It has only three distinct value and default is ‘first’.

 * If ‘first’, it considers first value as unique and rest of the same values as duplicate.
 * If ‘last’, it considers last value as unique and rest of the same values as duplicate.
 * If False, it consider all of the same values as duplicates

In [ ]:
#Dropping/Deleting the duplicate values
data=pd.read_csv("C:/Users/admin/Desktop/Data/employees.csv")

print(data.shape)
data.head()

In [ ]:
data[data.duplicated(subset="First Name")==True]
ufo[ufo.duplicated(subset="City")==True]

In [ ]:
print(ufo.shape)
#data.drop_duplicates(subset="First Name",keep="first").shape
ufo.drop_duplicates(subset="City",keep=False).shape

In [ ]:
d1={"Name":["Karan","Karan1","Karan2","Karan3","Karan4","Karan5","Karan6"],"Age":[24,24,25,26,24,25,27]}
temp=pd.DataFrame(d1)
temp

In [ ]:
temp.drop_duplicates(subset="Age",keep=False)

In [ ]:
ufo

# Displaying Compressed Data

In [ ]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [2]:
ufo

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,Red,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,Red,OTHER,NJ,6/30/1930 20:00
2,2,Holyoke,Red,OVAL,CO,2/15/1931 14:00
3,3,Abilene,Red,DISK,KS,6/1/1931 13:00
4,4,New York Worlds Fair,Red,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...,...
18236,18236,Grant Park,Red,TRIANGLE,IL,12/31/2000 23:00
18237,18237,Spirit Lake,Red,DISK,IA,12/31/2000 23:00
18238,18238,Eagle River,Red,LIGHT,WI,12/31/2000 23:45
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,18240,Ybor,Red,OVAL,FL,12/31/2000 23:59

In [ ]:
#ufo[ufo["City"]=="Seattle"]

#ufo.loc[ufo["City"]=="Seattle",:]


ufo.iloc[[0,1,2,3,4,5,6,67,34,78,12,999,15000],].drop("Unnamed: 0",axis=1)

temp=ufo.iloc[[0,1,2,3,4,5,6,67,34,78,12,999,15000],]

In [5]:
#temp.drop("Unnamed: 0",axis=1,inplace=True)
#temp

ufo.iloc[100:1000:6,::2]

     Unnamed: 0 Colors Reported State
100         100             Red    WV
106         106             Red    AK
112         112             Red    WA
118         118             Red    WV
124         124             Red    MS
..          ...             ...   ...
970         970             Red    PA
976         976             Red    NY
982         982             Red    MO
988         988             Red    KY
994         994             Red    NY

[150 rows x 3 columns]

In [6]:
#Exercise
#Find the name of the Manufacturers who are manufacturing only the Cars(Vehicle_type)
#Find the name of the Manufacturer who are manufacturing only the Passenger_Vehicle, also find top3 Manufacturers who-
# are manufactuting the most.

In [ ]:
#nlargest()
#nsmallest()

In [ ]:
#ufo.head()
#Seattle, San Diego, Miami, Albuquerque, Springfield, Tucson, Colorado Springs, Jacksonville

# Great Job!