In [4]:
import pandas as pd

#2-D List: [[1,2,3,4],[3,4,4,5]]

li=[[1,2,3,4],[3,4,4,5]]
df = pd.DataFrame(li,columns=["col1","col2","col3","col4"],dtype=float,index=['a','b'])
df

   col1  col2  col3  col4
a   1.0   2.0   3.0   4.0
b   3.0   4.0   4.0   5.0

In [22]:
# list of tuples
a=[(1,2,3,4),(5,6,7)]
len(a)
df=pd. DataFrame(a,columns=["a","b","c","d"])
print(df)
# detail of dataframe
df.info()

# to find the nan values in each column
df.isnull().sum()

   a  b  c    d
0  1  2  3  4.0
1  5  6  7  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
 3   d       1 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 192.0 bytes

a    0
b    0
c    0
d    1
dtype: int64

In [16]:
# dictionary
dd={"a":[1,2,3,4],"b":[4,5,6,6],"c":[4,5,6,7]}
df=pd. DataFrame(dd)
df

a    4
b    6
c    7
dtype: int64

In [23]:
# find the maximum value column wise
df["a"]# to access 1 column from Dataframe
df.max(axis=0)# get max value column wise
#print(df.max(axis=1))# get max value row wise
#df

df.min()
df.mean()

a    3.0
b    4.0
c    5.0
d    4.0
dtype: float64

In [28]:
d = {'one': pd.Series([1, "agvdvgs", 4]), 2: pd.Series([1, 2, 3, 4])} 
pd.DataFrame(d)

       one  2
0        1  1
1  agvdvgs  2
2        4  3
3      NaN  4

In [27]:
#empty dataframe
import pandas as pd
df=pd.DataFrame()
print(df)
# add new columns to the dataframe

df["newcol"]=pd.Series([1,2,34,5])
df["seccol"]=pd.Series([5,6,7,8])
df

Empty DataFrame
Columns: []
Index: []

   newcol  seccol
0       1       5
1       2       6
2      34       7
3       5       8

In [ ]:
df["col1"]=pd.Series(['val1','val2','val3','val4','val5'])
df["col2"]=pd.Series(['val1','val2','val3','val4','val5'])
df

In [19]:
# create dataframe from 2-D List
import pandas as pd 
data = [['Aman',10,'sci'],['Ajay',12,'math'],['Abhi',13,'eng']] # 2D list
df = pd.DataFrame(data,columns=['Name','Age','subject'],dtype=float) 
df
#df["Age"].mean()
#df.Age.mean()

11.666666666666666

In [29]:
# dataframe from Dict.
d1={"Col":[12, 4, 5, None, 1],"col-2":[7, 2, 54, 3, None], 3:[20, 16, 11, 3, 8], 4:[14, 3, None, 2, 6]}
df = pd.DataFrame(d1) 
print(df)

    Col  col-2   3     4
0  12.0    7.0  20  14.0
1   4.0    2.0  16   3.0
2   5.0   54.0  11   NaN
3   NaN    3.0   3   2.0
4   1.0    NaN   8   6.0

In [37]:
#  access 1 column
df["Col"]

# slicing of dataframe 
df.iloc[:,0:2]

df.iloc[1:4,0:4]

   Col  col-2   3    4
1  4.0    2.0  16  3.0
2  5.0   54.0  11  NaN
3  NaN    3.0   3  2.0

In [46]:
# Adding a new column to an existing DataFrame object with column label by passing new series
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [48]:
print ("Adding a new column by passing as Series:") 
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print ("Adding a new column using the existing columns in DataFrame:") 
df['four']=df['one']+df['three'] 

df

Adding a new column by passing as Series:
Adding a new column using the existing columns in DataFrame:

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [4]:
df["four"]# Access one column

a    11.0
b    22.0
c    33.0
d     NaN
Name: four, dtype: float64

In [9]:

df = pd.DataFrame({1:[12, 4, 5, None, 1],2:[7, 2, 54, 3, None], 3:[20, 16, 11, 3, 8], 4:[14, 3, None, 2, 6]}) 
print(df)

# skip the Na values while finding the maximum 
df.max() # columns axis=0
#df.max(axis=1)#ROW axis=1,

# find the mean
df.mean(axis = 1)#Row wise  axis=1
df.mean(axis = 0)#Column wise  axis =0

#find the minimum
df.min()#columns wise
df.min(axis=1)

      1     2   3     4
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

0    7.0
1    2.0
2    5.0
3    2.0
4    1.0
dtype: float64

In [44]:
import pandas as pd
d = {'one':[3,2,4,1,5], 'two':[5,4,3,2,1], 'letter':['a','a','d','b','c']} 
df = pd.DataFrame(d) 
print(df)


test = df.sort_values(['one'],ascending =False)#by default ascending order 
test = df.sort_values(['letter'])
#test = df.sort_values(['one'],ascending=False) # to sort dataframe in descending order
test
#test.to_csv("lettersortingrecord.csv")

   one  two letter
0    3    5      a
1    2    4      a
2    4    3      d
3    1    2      b
4    5    1      c

   one  two letter
0    3    5      a
1    2    4      a
3    1    2      b
4    5    1      c
2    4    3      d

In [20]:
import pandas as pd 
data = [['Aman',10],['Ajay',12],['Abhi',13]] #2-D list
df = pd.DataFrame(data,columns=['Name','Age'],index=["a","b","c"],dtype=float) 
print(df)
df

   Name   Age
a  Aman  10.0
b  Ajay  12.0
c  Abhi  13.0

   Name   Age
a  Aman  10.0
b  Ajay  12.0
c  Abhi  13.0

In [22]:
df

   Name   Age
0  Aman  10.0
1  Ajay  12.0
2  Abhi  13.0

In [ ]:
#  Series (from list, tuple, dictionary)
pd. Series(data,index,dtype)
varname[index]

In [ ]:
# Dataframe (from 2D list, tuple and Dictionary and series )

pd. DataFrame(data,columns,dtype,index)

# to access 1 column from dataframe 
df["column name "]

# minuimum/maximum and mean  value of dataframe 
df.min(axis=0)# 0 means columns wise
df.min(axis=1)# 1 means row wise


# max(),mean()

# sorting of dataframe 
df.sort_values(["column name "])  # by dealt ur data sort ascending order
df.sort_values(["column name "], ascending=False)# data in desending order


# if you want to save your dataframe in csv format

df.to_csv("nameoffile.csv")

# readof csv file
df.read_csv("filename.csv")