In [2]:
#list  (ordered sequence)  (mutable)  
myList = ["The", "earth", "revolves", "around", "sun"]
print(myList)    #printing list

['The', 'earth', 'revolves', 'around', 'sun']

In [2]:
myList.reverse()
myList

['sun', 'around', 'revolves', 'earth', 'The']

In [3]:
# append()   it will insert new item in list at the end position

myList.append("abcd")
myList

['The', 'earth', 'revolves', 'around', 'sun', 'abcd']

In [4]:
myList.insert(3,"Yes")  #insert yes at very beginning
print(myList)

['The', 'earth', 'revolves', 'Yes', 'around', 'sun', 'abcd']

In [5]:
a=len(myList)        #checking length of list
print(a)

7

'sun'

In [7]:
# indexing 
myList[0]
myList[5]   # indexing

'sun'

In [8]:

#slicing
print(myList[1:4]) # output will be "earth", "revolves", "around"

print(myList[4:]) #"the","earth", "revolves", "around"

['earth', 'revolves', 'Yes']
['around', 'sun', 'abcd']

In [10]:
teachers=['Aman','Nisha','kush','Anil']   
print (teachers)

['Aman', 'Nisha', 'kush', 'Anil']

In [11]:
print ("teacher at position 2 is :"+teachers[2]) #output Kush  and + is a concatination operator
teachers.append('anush')  #for adding new element to list at end use append
print(teachers)

teacher at position 2 is :kush
['Aman', 'Nisha', 'kush', 'Anil', 'anush']

In [12]:

teachers.insert(0, 'New Teacher') 
print(teachers)

['New Teacher', 'Aman', 'Nisha', 'kush', 'Anil', 'anush']

In [13]:
# deleting item from  List
del teachers[1]  # for deleting any list item write its index with del
print (teachers)

['New Teacher', 'Nisha', 'kush', 'Anil', 'anush']

In [14]:
# remove function to delete item from List 
teachers.remove('New Teacher')  
print(teachers)

['Nisha', 'kush', 'Anil', 'anush']

In [19]:
aList=[123, 'xyz', 'zara', 'abc', 'xyz']
print("List :", aList)
aList.reverse()  # reverse item presesnt in the List
aList

List : [123, 'xyz', 'zara', 'abc', 'xyz']

['xyz', 'abc', 'zara', 'xyz', 123]

In [8]:
a=[1,2,3,3,4,4]
print("list is :",a)

list is : [1, 2, 3, 3, 4, 4]

In [26]:
# sort : ascending , descending 

aList = ['gagan','aman','raman','aaram',23,334]
aList1 = [ 52,51,50,77,44]
aList1.sort()#ascending order
#aList1.sort(reverse=True) # decending order
aList1

aList.sort(reverse=True)# descending order 
aList

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:


aList1.sort(reverse=True)
print(aList1)
'gagan' in aList

In [27]:
a=[23,"helo","world",34,56]
for i in a:
    #print(i)
    print(isinstance(i, str),i)

#a=10
#lambda a: (isinstance(a, str),a)

#(False,10)

False 23
True helo
True world
False 34
False 56


To create a lambda function first write keyword lambda followed by one of more arguments separated by comma, followed by colon sign ( : ), followed by a single line expression.
 
This key function maps each element in the list to a tuple in which 
the first value is a boolean (True for strings and False for numbers) and 
the second value is the element itself, like this:
   
[(isinstance(v, str), v) for v in x]
[(False, 4), (False, 6), (False, 9), (True, 'ashley'), (True, 'chay'),
 (True, 'drooks'), (True, 'may'), (True, 'poo')]

In [29]:
x = [10,6,9,'ashley','drooks','chay','poo','may']

x.sort(key=lambda a: (isinstance(a, str),a),reverse=True)
x

['poo', 'may', 'drooks', 'chay', 'ashley', 10, 9, 6]

In [13]:
ss=[1,66,0,"fg","as"]
ss.sort(key=lambda a: (isinstance(a,str),a))
ss

[0, 1, 66, 'as', 'fg']

In [11]:
def abc(a,b):
    print(a+b)

abc(3,4)# calling of function
abc(7,8)

7
15

In [14]:
a="python operators"
print(len(a))
for i in a:
    print(i)

16
p
y
t
h
o
n

o
p
e
r
a
t
o
r
s

In [15]:
a=["jfbgjt",1,3,45,"njkgjg","njtkjfrk"]
for i in a:
    print(i)

jfbgjt
1
3
45
njkgjg
njtkjfrk