In [19]:
#Each key is separated from its value by a colon (:), the items are separated by commas,
# and the whole thing is enclosed in curly braces.
# unordered sequence
# pair= key:value


#( unorederd sequence)
ph={1:123,2:345,3:678}
print(ph)
len(ph)

{1: 123, 2: 345, 3: 678}

3

In [2]:
#More than one entry per key not allowed. Which means no duplicate key is allowed.
#When duplicate keys encountered during assignment, the last assignment wins. 
#Keys are immutable but values can be modified

ph={'aman':123,'aman':555,'anu':345,'iop':678}
print(ph)

{'aman': 555, 'anu': 345, 'iop': 678}

In [6]:
# to aceess the value from dictionary
#variablename[key]
ph["aman"]
ph["anu"]

345

In [6]:
ph['aman']=123345  ##updating existing value
print(ph)
# variablename["new key"]=new value
ph["avi"]=76576  # add new item in dictionary
ph

{'aman': 123345, 'anu': 345, 'iop': 678}

{'aman': 123345, 'anu': 345, 'iop': 678, 'avi': 76576}

In [9]:
ph['anu']=22334 #updating existing value
print(ph)
print(ph.values()) # to get all values
print(ph.keys())# to get all keys
len(ph)

{'aman': 123345, 'anu': 22334, 'iop': 678, 'avi': 76576}
dict_values([123345, 22334, 678, 76576])
dict_keys(['aman', 'anu', 'iop', 'avi'])

4

In [7]:
#to delete the item from dictionary

del ph['anu']  # ph.pop("anu") for deleting entry
print(ph)

len(ph)

{'aman': 555, 'iop': 678}

2

In [8]:

ph.clear()  # for clearing all entries
print(ph)# empty dictionary

{}

In [9]:
#Lets work on 2 dictionaries

# First dictionary. 
pets1 = {"cat": "black", "dog": "white"} 

# Second dictionary. 
pets2 = {"dog": "animal", "Tiger": "Animal","dog":"husky"} 
print(pets2)

{'dog': 'husky', 'Tiger': 'Animal'}

In [ ]:
pets1.update(pets2)   # Update first dictionary with second. print(pets1)
print(pets1)
print(pets2)

In [17]:
print(pets1.values())
pets1.keys()

dict_values(['black', 'husky', 'Animal'])

dict_keys(['cat', 'dog', 'Tiger'])