In [2]:
# program to check if a number in a list is positive , negative or zero
num=float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: -7
Negative number

In [ ]:
# program to check if a number is odd or even

In [4]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print("{0} is Even".format(num))
else:
    print("{0} id Odd".format(num))

Enter a number: 26
26 is Even

In [ ]:
# program to check leap year

In [6]:
year = 2000

if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

In [ ]:
# program to check prime number

In [10]:
num = int(input("Enter a number:"))
if num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number:5
5 is a prime number

In [ ]:
# python program to print all prime numbers in an interval

In [11]:
lower = 100
upper = 200

print("Prime number between",lower, "and", upper, "are:")
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime number between 100 and 200 are:
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
# program to find the factorial of a number.

In [13]:
num = 5

factorial = 1

if num < 0:
    print("sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1 ,num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is",factorial)

The factorial of 5 is 120

In [ ]:
# program to display the multiplication table

In [14]:
num = 15

for i in range(1,11):
    print(num, 'x',i, '=',num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
# program to print the fionacci sequence

In [18]:
nterms = int(input("How many terms?"))

n1,n2 = 0,1
count = 0

if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci sequence upto ".nterms,":")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

How many terms?7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
# program to check armstrong number
# program to find armstrong num