In [ ]:
import pandas as pd
import numpy as np

In [6]:
#with numpy
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,4),index=["A","B","C","D","E"],columns=["W","X","Y","Z"])
df

          W         X         Y         Z
A  0.482245 -0.854315  0.741097  0.723664
B -0.298273  2.127304  0.215308 -1.014241
C -0.129359 -0.555252  0.582012 -1.591623
D  0.416721  0.882777 -1.166465 -1.344308
E -1.475670 -0.113048 -1.411478  1.021935

In [7]:
#with lists
import pandas as pd
x1=["John",24,"New delhi","India"]
x2=["Jerry",32,"New York","USA"]
x3=["Tom",34,"Manhattan","USA"]
x4=["Jack",45,"Chicago","USA"]
New=pd.DataFrame([x1,x2,x3,x4],columns=["Name","Age","City","Country"],index=["A","B","C","D"])
New

    Name  Age       City Country
A   John   24  New delhi   India
B  Jerry   32   New York     USA
C    Tom   34  Manhattan     USA
D   Jack   45    Chicago     USA

In [8]:
#with tuples
import pandas as pd
x1=["John",24,"New delhi","India"]
x2=["Jerry",32,"New York","USA"]
x3=["Tom",34,"Manhattan","USA"]
x4=["Jack",45,"Chicago","USA"]
New=pd.DataFrame([x1,x2,x3,x4],columns=["Name","Age","City","Country"],index=["A","B","C","D"])
New

    Name  Age       City Country
A   John   24  New delhi   India
B  Jerry   32   New York     USA
C    Tom   34  Manhattan     USA
D   Jack   45    Chicago     USA

In [9]:
#with Dictionaries
datas={"Name":["Rizul","Uday","Ritik","Payal","Kaku","Vinod","Yugam"],"Age":[21,22,21,20,44,47,18],"Location":["Bangalore","Chandigarh","Chennai","Canada","Paris","London","Australia"]}
datas
datas=pd.DataFrame(datas)
datas

    Name  Age    Location
0  Rizul   21   Bangalore
1   Uday   22  Chandigarh
2  Ritik   21     Chennai
3  Payal   20      Canada
4   Kaku   44       Paris
5  Vinod   47      London
6  Yugam   18   Australia

In [10]:
x=np.arange(0,20)
fd=x.reshape(5,4)
fd
fd=pd.DataFrame(fd,index=["A","B","C","D","E"],columns=["W","X","Y",'Z'])
fd

    W   X   Y   Z
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15
E  16  17  18  19

In [11]:
fd
datas

    Name  Age    Location
0  Rizul   21   Bangalore
1   Uday   22  Chandigarh
2  Ritik   21     Chennai
3  Payal   20      Canada
4   Kaku   44       Paris
5  Vinod   47      London
6  Yugam   18   Australia

In [ ]:
#SELECTION AND INDEXING

In [13]:
fd["W"]
datas["Location"]

0     Bangalore
1    Chandigarh
2       Chennai
3        Canada
4         Paris
5        London
6     Australia
Name: Location, dtype: object

In [14]:
fd.shape
datas.columns

Index(['Name', 'Age', 'Location'], dtype='object')

In [19]:
fd

    W   X   Y   Z
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15
E  16  17  18  19

In [23]:
# RENAMING COLUMNS
#fd.rename(columns = {"Z":"shape"},inplace=True)
fd.rename(index = {"A":"Alpha"},inplace=True)

#fd.rename(columns={"shape":"Z","W":"WOW"},index={"Alpha":"A","D":Delhi},inplace=Ture)
fd

        W   X   Y  shape
Alpha   0   1   2      3
B       4   5   6      7
C       8   9  10     11
D      12  13  14     15
E      16  17  18     19

In [24]:
fd["X"]

Alpha     1
B         5
C         9
D        13
E        17
Name: X, dtype: int32

In [25]:
fd["shape"]

Alpha     3
B         7
C        11
D        15
E        19
Name: shape, dtype: int32

In [29]:
fd["columns"]

KeyError: 'columns'

In [30]:
fd.mean()

W         8.0
X         9.0
Y        10.0
shape    11.0
dtype: float64

In [37]:
fd["New"]=fd["X"]+fd["Z"]
fd["City"]=["Bnagalore","Paris","Canada","Chandigarh"]
fd

KeyError: 'Z'

KeyError: "['A'] not found in axis"

In [ ]:
# CREATING A NEW COLUMN

In [42]:
fd

        W   X   Y  shape
Alpha   0   1   2      3
B       4   5   6      7
C       8   9  10     11
D      12  13  14     15
E      16  17  18     19

SyntaxError: cannot assign to function call (<ipython-input-44-be1af2091db5>, line 2)

In [ ]:
#df.drop('E',axis=0)

In [46]:
fd=np.arange(0,20).reshape(5,4)
fd=pd.DataFrame(fd,columns=["W","X","Y","Z"],index=["A","B","C","D","E"])
fd["New"]=fd["Y"]*fd["Z"]
fd["New2"]=["hi","hello","good","star"]
fd.drop(columns="New2",inplace=True)
fd

ValueError: Length of values (4) does not match length of index (5)

In [ ]:
#Loc and iloc