In [ ]:
# for loops

In [6]:
seq = [1,2,3,4,5, "rizul", 6,7,8,9,10,11,12,13]
seq

[1, 2, 3, 4, 5, 'rizul', 6, 7, 8, 9, 10, 11, 12, 13]

In [9]:
for star in seq:
    print(star)
    
star

1
2
3
4
5
rizul
6
7
8
9
10
11
12
13

13

In [12]:
for fun in "Good Morning":
    print(fun)

fun
seq

G
o
o
d

M
o
r
n
i
n
g

[1, 2, 3, 4, 5, 'rizul', 6, 7, 8, 9, 10, 11, 12, 13]

In [13]:
for item in seq:
    print('yup')

yup
yup
yup
yup
yup
yup
yup
yup
yup
yup
yup
yup
yup
yup

In [16]:
#indentation 

for jelly in seq:
    print("{}. Iteration- 10/{}".format(jelly,jelly))
    print(star/jelly)
    print()

1. Iteration- 10/1
13.0

2. Iteration- 10/2
6.5

3. Iteration- 10/3
4.333333333333333

4. Iteration- 10/4
3.25

5. Iteration- 10/5
2.6

rizul. Iteration- 10/rizul

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [17]:
num = [1,2,5,6,7,8,25]
sq = []
for i in num:
    z = i*i
    print("{}*{}={}".format(i,i,z),"\n")
    sq.append(z)

1*1=1

2*2=4

5*5=25

6*6=36

7*7=49

8*8=64

25*25=625

In [18]:
sq

[1, 4, 25, 36, 49, 64, 625]

In [ ]:
# while loops

In [26]:
i = 0
while i <= 10: 
    print(f'i is: {i}')      # Latest or traditional 
    #print("i is:",i)
    #print("i is: {}".format(i))  # Traditional
    #print ("i is: "+str(i))    
    i = i + 1
    print(i)

i is: 0
1
i is: 1
2
i is: 2
3
i is: 3
4
i is: 4
5
i is: 5
6
i is: 6
7
i is: 7
8
i is: 8
9
i is: 9
10
i is: 10
11

In [27]:
# list comprehension 

# simple list comprehension 

x = [i + 1 for i in range(10)]
print(x)

print("\n")
y = []
for i in range(10):
    y.append(i + 1)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
x = [i+i for i in range(10)]
print(x)

print("\n")
y = []
for i in range(10):
    y.append(i+i)
print(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]


[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
for i in range(100,200):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [34]:
# for loops vs list comprehension

sq = []
for x in range(10):
    sq.append(x**2)
print(sq)
    
print("\n")

#list comprehensions
squares=[x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# for loops
sq=[]
for x in range(10):
    sq.append(x+2)
print(sq)
    
print("\n")
    
#list comprehensions
squares=[x+2 for x in range(10)]
print(squares)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]


[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [38]:
list1=[6,7,8,7,5,1,9]
multiple=[item*(item/3) for item in list1]
print(multiple)

# execute the code with for loops as well by using append function.

sq=[]
for i in list1:
    sq.append(i*(i/3))
print(sq)

[12.0, 16.333333333333336, 21.333333333333332, 16.333333333333336, 8.333333333333334, 0.3333333333333333, 27.0]
[12.0, 16.333333333333336, 21.333333333333332, 16.333333333333336, 8.333333333333334, 0.3333333333333333, 27.0]

In [ ]:
# Functions
# Basic function

In [39]:
def fun_session(x):
    return min(x)/max(x)

In [40]:
5/77

0.06493506493506493

In [41]:
kite=[5,6,7,8,9,4,10,14,15,18,21,77,89]
fun_session(kite)

0.0449438202247191

In [42]:
def multiplication(x,y):
    mult=x*y
    return mult;
multiplication(10,2)

20

In [44]:
def add(x,y):
    return x+y

add(10,2)

12

In [45]:
def celcius_to_fahre(x):
    fah=((x*1.8)+32)
    print(fah,"Fahrenheit")
celcius_to_fahre(20)

68.0 Fahrenheit

In [ ]:
# Exercise1  convert Fahrenheit to celcius.
# Exercise2 convert kilometer per litre to miles per gallon
# Exercise3 convert km/h to meter/second

101.0 celcius

In [ ]:
# methods

In [50]:
st='Hello my name is rizul'
st

'Hello my name is rizul'

In [51]:
st.lower()

'hello my name is rizul'

In [52]:
st.upper()

'HELLO MY NAME IS RIZUL'

In [53]:
x=st.split()
x

['Hello', 'my', 'name', 'is', 'rizul']

In [58]:
mes2="I can't wait to go @ the amusement park"
#print(mes2.split("to"),"\n")
print(mes2.split())

['I', "can't", 'wait', 'to', 'go', '@', 'the', 'amusement', 'park']

In [59]:
# Exercise
ss="my age is 21"
ss1=ss.split()
print(ss1)
ss1[1].upper()

['my', 'age', 'is', '21']

'AGE'

In [60]:
print(ss1)
ss1[0].upper()

['my', 'age', 'is', '21']

'MY'

In [61]:
tweet = 'go sports! #sports'
print(tweet.split("#"))
print(tweet.split("!"))
print(tweet.split("!")[0])
print(tweet.split("!")[1])

['go sports! ', 'sports']
['go sports', ' #sports']
go sports
 #sports

In [ ]:
tweet = 'go sports! #sports'

# work on below exercise as well

#"Good morning! How is the Day! What time is it?"
#"Welcome home buddy! I have got 200$ for shopping"
#"I can't wait to go to the amusement park"
#Split the string on!
#Split the string on ! and $ seperately
# Transform the strings in upper case.

In [65]:
tweet = "Welcome home buddy! I have got 200$ for shopping"
print(x.split("!"))
x.split("$")

AttributeError: 'list' object has no attribute 'split'

In [ ]:
x=int(input("How many records you want"))
list1=[]
for i in range(x):
    name1=input("Name")
    age1=float(input("Age"))
    list1.extend([name1,age1])
print(list1)

How many records you want56
Namerizul
Age21

In [ ]:
#sorting
a=[7,8,9,6,10,16]
a.sort()
print(a)
a.sort(reverse=True)
a

In [ ]:
# concatenation
[56,"fish","sun",99]+[7,6,"rise",5,55]