In [ ]:
#1. WRITE A PANDAS PROGRAM TO CREATE AND DISPLAY ONE-DIMENSIONAL ARRAY LIKE OBJECT CONTAINING AN ARRAY OF DATA USING PANDAS MODULE.
#2.WRITE A PANDAS PROGRAM TO CONVERT A PANDAS MODULE SERIES TO PYTHON LIST AND ITS TYPE 
#3. WRITE A PANDAS PROGRAM TO ADD,SUBTRACT,MULTIPLE AND DIVIDE TWO PANDAS SERIES.SAMPLE SERIES[2,4,6,8,10],[1,3,5,7,9]
#4.WRITE A PANDAS PROGRAM TO COMPARE THE ELEMENTS OF THE TWO PANDAS SERIES.SAMPLE SERIES[2,4,6,8,10],[1,3,5,7,10]
#5.PROGRAM TO CONVERT DICT TO A PANDAS SERIES.SAMPLE SERIES [A:100,'B:200','C:300',D:400,'E':800]CONVERTED SERIES 100,200,300,400,800
#6.PROGRAM TO CONVERT NUMPY ARRAY TO PANDAS SERIES.NUMPY[10,20,30,40,50]
#7.PRORGRAM TO CHANGE THE DATATYPE OF GIVEN COLUMN OR SERIES.SAMPLE SERIES:0 100, 1 200,2 PYTHON,3 300.12,4 400
#8.PROGRAM TO CONVERT THE FIRST COLUMN OF A DATAFRAME AS A SERIES.
#9.PROGRAM TO COBNVERT SERIES TO AN ARRAY
#10.PROGRAM TO CONVERT SERIES LIST TO ONE SERIES

In [2]:
#1.
import pandas as pd
ds = pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
#2.
import pandas as pd
ds = pd.Series([2,4,6,8,10])
print("pandas Series and type")
print(ds)
print(type(ds))
print("convert pandas series to python list")
print(ds.tolist())
print(type(ds.tolist()))

pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
convert pandas series to python list
[2, 4, 6, 8, 10]
<class 'list'>

In [6]:
#3.
import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [9]:
#4.
import pandas as pd
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1>ds2)
print("Less than:")
print(ds1<ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [8]:
#5.
import pandas as pd
d1 = {'a':100, 'b':200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_Series = pd.Series(d1)
print("Converted series:")
print(new_Series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [11]:
#6.
import numpy as np
import pandas as pd
np_array = np.array([10,20,30,40,50])
print("NumPy array:")
print(np_array)
new_Series =pd.Series(np_array)
print("Converted pandas Series:")
print(new_Series)

NumPy array:
[10 20 30 40 50]
Converted pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
#7.
import pandas as pd
s1 = pd.Series(['100','200','python','300.12','400'])
print("Original data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1,errors='coerce')
print(s2)

Original data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [14]:
#8.
import pandas as pd
d = {'col1':[1,2,3,4,7,11],'col2':[4,5,6,7,5,0],'col3':[7,5,8,12,1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.ix[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     7    12
4     7     5     1
5    11     0    11

AttributeError: 'DataFrame' object has no attribute 'ix'

In [15]:
#9.
import pandas as pd
import numpy as np
s1 = pd.Series(['100','200','python','300:12','400'])
print("Original Data Series")
print(s1)
print("Series to an array")
a = np.array(s1.values.tolist())
print(a)

Original Data Series
0       100
1       200
2    python
3    300:12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300:12' '400']

In [16]:
#10.
import pandas as pd
s = pd.Series([
    ['Red','Green','White'],
    ['Red','Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object